body {
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 386px;
}

button {
    color: rgb(120, 253, 37);
}

.buttons {
    display: flex;
    flex-direction: column;
}
#board {
    display: flex;
    flex-direction: column;
}
#buckets {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.bucket{
    text-align: center;
    font-size: 18px;
}

.numbers {
    border: 4px double black;
    width: 100px;
    height: 250px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    background-color: rgb(110, 117, 129);
}

#btn-board {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1178px) {
    #buckets {
        flex-wrap: wrap;
    }
}

.hidden {
    display:none !important;
}

.redtext {
    color: red;
}

#new-array {
    text-align: center;
    font-size: 20px;
}

#second-text {
    text-align: center;
}

#current-array {
    font-size: 20px;
}

#max-digit {
    font-size: 20px;
}

#current-iteration {
    font-size: 20px;
    margin-left: auto;
    margin-top: 5px;
}

#radix-text {
    color: black;
    text-shadow:
        -0.5px -0.5px 0 white,  
        0.5px -0.5px 0 white,
        -0.5px 0.5px 0 white,
        0.5px 0.5px 0 white;
}

#radix-sort-text {
    color: red;
    text-shadow: 
        -0.5px -0.5px 0 white,  
        0.5px -0.5px 0 white,
        -0.5px 0.5px 0 white,
        0.5px 0.5px 0 white;
}