body {
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.buttons {
    display: flex;
    flex-direction: column;
}
#board {
    display: flex;
    flex-direction: column;
}
#buckets {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.bucket{
    text-align: center;
}

.numbers {
    border: red 1px dotted;
    width: 100px;
    height: 250px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
}

#btn-board {
    display: flex;
    flex-direction: row;
}

.hidden {
    display:none !important;
}
